@model IEnumerable<DemapAdmin.Models.tbl_seguimiento_denuncias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltModifFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltModifUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_comentarios_denuncias.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_denuncias.CedulaDenunciante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_estados_denuncias.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_usuarios.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_status_denuncias.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltModifFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltModifUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_comentarios_denuncias.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_denuncias.CedulaDenunciante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_estados_denuncias.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_usuarios.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_status_denuncias.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
