@model IEnumerable<DemapAdmin.Models.View_seguimiento_denuncias>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CedulaDenunciante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Establecimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenDenuncia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perfil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltModifFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltModifUsuarioID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CedulaDenunciante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Establecimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagenDenuncia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltModifFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltModifUsuarioID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
