@model IEnumerable<DemapAdmin.Models.View_denuncias_recibidas>

@{
    ViewBag.Title = "Denuncias Recibidas";
}

<div class="inner bg-light lter bg-container">
    <div class="row">
        <div class="col-xs-12 data_tables">

            <div class="card">
                <div class="card-header bg-white">
                    <i class="fa fa-table"></i> DENUNCIAS RECIBIDAS
                </div>
                <div class="card-block p-t-25">
                    <div class="">
                        <div class="pull-sm-right">
                            <div class="tools pull-sm-right"></div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="sample_1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> Denunciante</th>
                                <th> @Html.DisplayNameFor(model => model.RegistroSanitario) </th>
                                <th> @Html.DisplayNameFor(model => model.Producto) </th>
                                <th>Tipo Producto</th>
                                <th> @Html.DisplayNameFor(model => model.Establecimiento) </th>
                                <th> @Html.DisplayNameFor(model => model.Estado) </th>
                                <th>Fotos</th>
                                <th> Fecha Denuncia</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                int IdTemp = item.Id;

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CedulaDenunciante)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistroSanitario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Producto)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoProducto)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Establecimiento)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>

                                    <td>
                                        <button onclick="GetEvidencias(@IdTemp)" class="btn btn-primary btn-secondary md-trigger adv_cust_mod_btn" data-toggle="modal" data-target="#responsive"> Ver </button>
                                       
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                                    </td>

                                    <td>
                                          @Html.ActionLink("ASIGNAR", "Panel", "ViewSeguimientoDenuncias" ,new { id = item.Id }, new { @class = "btn btn-primary btn-secondary md-trigger adv_cust_mod_btn" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade in display_none" id="responsive" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-white">EVIDENCIAS</h4>
            </div>
            <div class="modal-body">
                <div class="row">
     
                    <div class="col-md-12">
     
                        <div class="card-block m-t-35">
                            <div class="table-responsive">
 
                                        <div class="tab-pane active gallery-padding" id="tab_2">

                                            <div id="ListadoEvidencias">
                                                  
                                            </div>
                                        </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function GetEvidencias(DenunciaID) {

        if(DenunciaID != ""){

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEvidencias", "Denuncias")',
                dataType: 'json',
                data: { DenunciaID: DenunciaID },
                success: function (response) {

                    if (response) {
                        $("#ListadoEvidencias").html("");
                        $.each(response, function (index, value) {
                            console.log(value);
                            var imagen = "<div class='col-xl-2 col-lg-3 col-md-4 col-xs-6 gallery-border'><a class='fancybox zoom thumb_zoom'><a href='" + value + "' data-fancybox-group='gallery' title='Evidencia'> <img src='" + value + "' class='img-fluid gallery-style' alt='Image'></a></div>";

                            $("#ListadoEvidencias").append(imagen);
                        });
                    }
              
                    console.log(responde);

                }, error: function () {

                    alert("Favor contactar al Administrador");
                }
            });

        }else{
            alert("No existen evidencias registradas!");
      }
      
    }

</script>
@section Scripts {
    <script type="text/javascript" src="~/Content/vendors/select2/js/select2.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/pluginjs/dataTables.tableTools.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/dataTables.rowReorder.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Content/vendors/datatables/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/pages/datatable.js"></script>
    <script type="text/javascript" src="~/Scripts/js/pages/modals.js"></script>

    <script type="text/javascript" src="~/Content/vendors/holderjs/js/holder.js"></script>
    <script type="text/javascript" src="~/Content/vendors/fancybox/js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="~/Content/vendors/fancybox/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Content/vendors/fancybox/js/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript" src="~/Content/vendors/fancybox/js/jquery.fancybox-thumbs.js"></script>
    <script type="text/javascript" src="~/Content/vendors/fancybox/js/jquery.fancybox-media.js"></script>
<!--End of plugin scripts-->
<script type="text/javascript" src="js/pages/gallery.js"></script>
}
