@model DemapAdmin.Models.tbl_denuncias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_denuncias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CedulaDenunciante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedulaDenunciante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Establecimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Establecimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_estados_denuncias.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_estados_denuncias.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_tipos_productos.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_tipos_productos.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
