@model DemapAdmin.Models.tbl_seguimiento_denuncias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_seguimiento_denuncias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreadoPorUsuarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreadoPorUsuarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltModifFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltModifFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltModifUsuarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltModifUsuarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_comentarios_denuncias.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_comentarios_denuncias.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_usuarios.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_status_denuncias.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_status_denuncias.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_denuncias.CedulaDenunciante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_denuncias.CedulaDenunciante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
