@model DemapAdmin.Models.tbl_seguimiento_denuncias

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbl_seguimiento_denuncias</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.DenunciaID, "DenunciaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DenunciaID", String.Empty)
                @Html.ValidationMessageFor(model => model.DenunciaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComentarioID, "ComentarioID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ComentarioID", String.Empty)
                @Html.ValidationMessageFor(model => model.ComentarioID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AsignadaUsuarioID, "AsignadaUsuarioID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AsignadaUsuarioID", String.Empty)
                @Html.ValidationMessageFor(model => model.AsignadaUsuarioID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusDenunciaID, "StatusDenunciaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusDenunciaID", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusDenunciaID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCreacion)
                @Html.ValidationMessageFor(model => model.FechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreadoPorUsuarioID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreadoPorUsuarioID)
                @Html.ValidationMessageFor(model => model.CreadoPorUsuarioID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UltModifFecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UltModifFecha)
                @Html.ValidationMessageFor(model => model.UltModifFecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UltModifUsuarioID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UltModifUsuarioID)
                @Html.ValidationMessageFor(model => model.UltModifUsuarioID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Activo)
                @Html.ValidationMessageFor(model => model.Activo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
